@model StockHD.Models.Asset



<!--Création d'un formulaire de création d un Asset avec un AssetType -->

<form asp-action="Create_Asset">


    <div id="Asset">

        <label asp-for="AssetType" class="control-label"></label>
        <select class="form-control onchange-submit" name="AssetTypeSelect">
            @foreach (AssetType a in ViewBag.AssetTypes)
            {
                <option value="@a.Id">@a.Name</option>
            }
        </select> 

       @*  <label asp-for="PropertiesValues" class="control-label"></label>
        <select class="form-control onchange-submit" name="PropertiesSelect">
            @foreach (ExtendedProperty e in ViewBag.PropertiesValues)
            {
                <option value="@e.Id">@e.Name</option>
            }
        </select>  *@       
        <div class="form-floating mb-3">
        <label asp-for="Manufacturer" class="control-label"></label>
        <input asp-for="Manufacturer" class="form-control" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
        <label asp-for="SerialNumber" class="control-label"></label>
        <input asp-for="SerialNumber" class="form-control" />
        <span asp-validation-for="SerialNumber" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">

         <label asp-for="Description" class="control_label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        

            
    </div>

    <input id="submit" type="submit" value="Ajouter" class="btn btn-primary" />
    <a class="btn btn-success" asp-action="Index">Annuler</a>
    
</form>