@model IEnumerable<StockLibrary.Models.ExtendedPropertyValue>;

<!--
    Création d'un champ de formulaire Asset pour les ProprtiValue.
-->

@foreach (ExtendedPropertyValue item in Model){

    <div class="form-floating mb-3 divPropValue">

        <input type="hidden" class="hiddenId" name="propId" value="@item.Property.Id" />

        <input type="text" class="form-control propValue" id="floatingInput" >
        <label for="floatingInput">@item.Property.Name</label>

    </div>

}
