@model StockRole;
@using StockLibrary.Data;


<dl class="row MargTop">
    
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-5">
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>

<form asp-action="Delete_RoleUserConfirm">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="uid" value="@ViewBag.UID" />
    <input type="submit" value="Supprimer" class="btn btn-danger" /> |
    <a class="btn btn-success" asp-action="UserIndex">Annuler</a>
</form>
