<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StockHD</title>

    <link rel="stylesheet" href="~/lib/bootstrap-5.3.3-dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/lib/sircl-2.6.1/sircl-bundled.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sircl-2.6.1/sircl-bundled.min.js"></script>
    <script src="~/lib/sircl-2.6.1/sircl-bootstrap5.min.js"></script>

</head>
<body>
    <header>
        <div class="container_fluid">
            <div class="row flex-nowrap">
                
                <partial name="NavMenu" />
                
                <div class="container">
                 @*  <main role="main" class="pb-3"> *@
                        @RenderBody()
                    @*  </main>*@
                </div>
                <div class="col py-3">

                </div>

            </div>
        </div>
    </header>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - StockHD - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            @* <img id="ingLetter" src="~/css/picture/ingFR.jpg" /> *@
        </div>
    </footer>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
