html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F0F0F0;
}



.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}


    .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }


        .sidebar a:hover {
            color: #eaeaea;
        }

.main {
    margin-left: 160px;
    padding: 0px 10px;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

.content {
    flex: 1;
    padding: 15px;
}

.MargTop{
    margin-top: 50px
}

footer{
    color : gray
}

form {
    margin-right : 70%; 
    margin-top : 60px;
}

.hover-button{
    display: none;
    margin-left: 100%;
    position: absolute;
}

.hover-div:hover .hover-button{
    display: block;
}

#Lion{
    width: 60px;
    height: 85px;
}

#ingLetter {
    width: 80px;
    height: 80px;
    margin-left: 100%;
    margin-top: 0%;
}

.centered-form {
    margin-top: 60px;
}

.centered-form .panel {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}