@model StockLibrary.Models.Accessoire;
@using StockLibrary.Models;
@using StockLibrary.Data;


<dl class="row MargTop">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Quantite)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Quantite)
    </dd>
</dl>

<form asp-action="Delete_AccessoireConfirm">
    <input type="hidden" asp-for="Name" />
    <input type="submit" value="Supprimer" class="btn btn-danger" /> |
    <a class="btn btn-success" asp-action="Index">Annuler</a>
</form>
