@model StockHD.Models.ExtendedProperty;

@using StockHD.Models;
@using StockHD.Data;

<form asp-action="Create_prop">

    <div class="form-floating mb-3 MargTop">

        <input asp-for="Name" class="form-control" placeholder="" />
        <label asp-for="Name" for="Nom"></label>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">

        <input asp-for="Description" class="form-control" placeholder="" />
        <label asp-for="Description" for="Description"></label>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <input id="submit" type="submit" value="Ajouter" class="btn btn-primary" />
    <a class="btn btn-danger" asp-action="Index">Annuler</a>

</form>