@model IEnumerable<StockHD.Models.ExtendedProperty>;

<!--
    Création d'un champ de formulaire AssetType pour les Proprties.
    Ce champ est dynamique et peut être ajouté ou supprimé au clic d'un bouton
    grace a un script jQuery dans le fichier Create.cshtml
-->


<div class="form-floating mb-3">
    <select class="form-control typeProp" name="TypeSelect" placeholder="">
        <option selected=""></option>
        @foreach (ExtendedProperty p in Model)
        {
            <option value="@p.Id">@p.Name</option>
        }
        
    </select>
    <label for="TypeSelect">Properties</label>
</div>